<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CommSite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        {% if session.name %}
        <div class="user-info-container">
            <p>ようこそ, {{ session.name }}さん</p>
            <p class="user-info">
                {{ session.student_id }} | 
                {{ session.school_name }} | 
                {{ session.department_name }} | 
                {{ session.year }}年
            </p>
        </div>
        <a href="{{ url_for('logout') }}">ログアウト</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>